:root{
  --primary-border: 0.01px solid #686868;
  --primary-box-shadow: 0 0 5px 0px #166bd7;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  font-family: Inter , sans-serif ;
  background-color: black;
  color: white;
  position: relative;
}
.btn{
  padding: 10px 15px;
  font-size: 14px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 15px;
  font-weight: bold;
  background-color: #166bd7;
  color: white;
  transition: .3s;
}
.btn:hover{
  background-color: #0b2e5d;
}

.btn-main{
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  margin-right: 10px;
  box-shadow: 0 0 8px 1px #13ccff;
  text-decoration: none;
}