.box{
    border: var(--primary-border);
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 45%;
    margin-bottom: 15px;
}
.box .text{
    font-size: 13px;
    color: #6f6f6f;
    margin-top: 4px;
}